/* 기본세팅 */

.inner {
    width: 1200px;
    margin: 0 auto;
}

#maindVisual {
    position: relative;
    height: 100vh;
    background: #333;
}

#header {
    line-height: 100px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

#header .gnb>ul {
    display: flex;
    gap: 60px;
}

#header .gnb a {
    display: block;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li .smenu {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 40px;
    background: tomato;
    color: #fff;
    border: 3px solid #fff;
    text-align: center;
    width: 150px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    transition: 0.5s;
}

#header .gnb>ul>li:hover .smenu {
    top: 90px;
    opacity: 1;
    visibility: visible;
}

#header .gnb>ul>li .smenu li~li {
border-top: 1px solid #fff;
}