/* 기본세팅 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.main_slider {
    /* position: relative; */
    height: 100vh;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 100vh;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

#header {
    line-height: 100px;
}

#header .inner {
    display: flex;
    /* justify-content: space-between; */
}

#header nav {
    margin: 0 0 0 auto;
}

#header nav>ul {
    display: flex;
    gap: 60px;
}


/* header2 */
#header2 {
    line-height: 100px;
    background: #f9f9f9;
}

#header2 .inner {
    display: flex;
}

#header2 nav {
    margin: 0 0 0 auto;
}

#header2 nav>ul {
    display: flex;
    gap: 60px;
}

#header2 .right {
    margin: 0 0 0 100px;
}


/* header3 / flex: 1 */
#header3 {
    line-height: 100px;
}

#header3 .inner {
    display: flex;
}

#header3 nav>ul {
    display: flex;
    gap: 60px;
}

#header3 h1 {
    flex: 1;
}

#header3 .right {
    flex: 1;
    text-align: right;
}


/* header4 / position: absolute; */
#header4 {
    line-height: 100px;
    background: #f9f9f9;
}

#header4 .inner {
    position: relative;
}

#header4 h1 {
    position: absolute;
    top: 0;
    left: 0;
}

#header4 .right {
    position: absolute;
    top: 0;
    right: 0;
}


#header4 nav>ul {
    font-size: 0;
    text-align: center;
}

#header4 nav>ul>li {
    display: inline-block;
}

#header4 nav>ul>li>a {
    font-size: 16px;
    padding: 0 30px;
}


/* header5 / 로고 가운데 */
#header5 {
    line-height: 100px;
}

#header5 .inner {
    display: flex;
    /* justify-content: space-between; */
}

#header5 nav>ul {
    display: flex;
    gap: 30px;
}

#header5 nav {
    flex: 1;
}

#header5 .right {
    flex: 1;
    text-align: right;
}


/* header6 */
#header6 {
    line-height: 100px;
    background: #f9f9f9;
}

#header6 .gnb_wrap {
    display: flex;
    padding: 0 100px;
}

#header6 nav {
    flex: 1;
}

#header6 nav>ul {
    display: flex;
    gap: 60px;
}

#header6 .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* header-sticky */
#header-sticky {
    position: sticky;
    top: 0;
    line-height: 100px;
    background: #f9f9f9;
    z-index: 999;
}

#header-sticky .inner {
    display: flex;
    justify-content: space-between;
}

#header-sticky nav>ul {
    display: flex;
    gap: 60px;
}

#main_visual .main_slider {
    margin: 0 0 100vh 0;

}


#header_scroll {
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: line-height 0.5s;
}

#header_scroll.on {
    line-height: 60px;
    background: #fff;
}

#header_scroll .inner {
    display: flex;
    justify-content: space-between;
}

#header_scroll nav>ul {
    display: flex;
    gap: 60px;
}

.gong {
    height: 150vh;
    background: url(../img/mainvisual01.jpg);
}