/* --- portfolio --- */
.portfolio {
    padding: 100px 0;
}

.portfolio .inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.portfolio .inner figure {
    padding: 0 15px;
}

.port_slide {
    margin: 0 -15px;
}








/* --- product --- */
.product {
    padding: 100px 0;
    background: #f9f9f9;
}

.product .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.product .inner .left {
    flex: 2;
    overflow: hidden;
    /* flex:1 만 쓰면 가로로 계속 길어져서 
     slick 돌리면 오류남 그래서 hidden 씀 */
}

.product .inner .left figure {
    padding: 0 15px;
    /* float이라서 gap은 안먹음 */
}

.product_slide {
    margin: 0 -15px;
}

.product .inner .right {
    flex: 1;
}