@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

.header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.footer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0); 
    color: #fff;
}

.mainVisual {
    position: relative;
}

.mainVisual .control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    border: none;
    background: transparent;    
}

.mainVisual .control::before {
    content: "\ea3b";
    font-family: xeicon;
    font-size: 50px;
    padding: 15px;
    background: tomato;
}

.mainVisual .control.on::before {
    content: "\ea3e";
}

.mainVisual video {
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    object-fit: cover;
}